.navigation {
  margin-bottom: 0px;
  display: flex;
  height: 60px;
  padding: 8px;
  justify-content: center;
  align-items: center;
}

.brand {
  flex: 1;
}
.links li {
  display: inline;
  margin-right: 24px;
}
.links li:last-child {
  margin-right: 0px;
}
.link,
.a {
  color: var(--default-font-color);
}
.a {
  color: var(--primary-font-color);
}
.link {
  font-weight: bold;
}
.link:hover,
.a:hover {
  text-decoration: none;
  color: var(--primary-font-color);
}
.a:hover {
  color: var(--default-font-color);
}
